/* comment */

h1 { color:black;
font-size: 30px;
text-align: "center";
font-family: georgia, serif;
}

h2 { color:dimgray;
text-align: "center";
font-size: 20px;
font-family: georgia, serif;
}

b { color:rebeccapurple;
  text-align: "center";
  font-size: 14px;
  font-family: arial, sans-serif;
}

p { color:dimgray;
  text-align: "center";
  font-size: 16px;
  font-family: georgia, serif;
}

img { max-width: 600px;
max-height: auto;
}
