/* comment */

h1 { color:rebeccapurple;
font-size: 64px;
text-align: "center";
font-weight: "bold";
font-family: georgia, serif;
}

h2 { color:rebeccapurple;
text-align: "center";
font-size: 32px;
font-family: georgia, serif;
}

b { color:dimgray;
  text-align: "center";
  font-size: 20px;
  font-family: georgia, serif;
}

p { color:rebeccapurple;
  text-align: "center";
  font-size: 16px;
  font-family: georgia, serif;
}

img { max-width: 600px;
max-height: auto;
}
